USE [master]
GO
/****** Object:  Database [EasylinkApp]    Script Date: 2014-12-01 10:31:49 PM ******/
CREATE DATABASE [EasylinkApp] ON  PRIMARY 
( NAME = N'EasylinkApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasylinkApp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EasylinkApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasylinkApp_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasylinkApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasylinkApp]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOUSE_NUMBER] [nvarchar](50) NOT NULL,
	[STREET] [nvarchar](50) NOT NULL,
	[POSTAL_CODE] [nvarchar](20) NOT NULL,
	[COUNTRY_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[SALARY] [decimal](18, 2) NOT NULL,
	[EMPLOYED_SINCE] [datetime] NULL,
	[WEIGHT] [decimal](10, 2) NULL,
	[AGE] [int] NULL,
	[ACTIVE] [bit] NOT NULL,
	[MARRIED] [bit] NULL,
	[DEPARTMENT_ID] [numeric](18, 0) NULL,
	[ROLE_ID] [numeric](18, 0) NOT NULL,
	[SEX_ID] [numeric](18, 0) NULL,
	[ADDRESS_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_PROGRAM]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_PROGRAM](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[PROGRAM_ID] [numeric](18, 0) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_PROGRAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FINANCIAL_INFO]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_INFO](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[BANK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FINANCIAL_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOOKUP]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOOKUP](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [numeric](18, 0) NULL,
	[NAME] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROGRAM]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAM](
	[ID] [numeric](18, 0) NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_AUDIT]    Script Date: 2014-12-01 10:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_AUDIT](
	[USER_ID] [nvarchar](50) NOT NULL,
	[TABLE_NAME] [nvarchar](20) NOT NULL,
	[RECORD_ID] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[OPERATION] [nvarchar](20) NOT NULL,
	[TIMESTAMP] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

GO
INSERT [dbo].[EMPLOYEE] ([ID], [FIRST_NAME], [LAST_NAME], [SALARY], [EMPLOYED_SINCE], [WEIGHT], [AGE], [ACTIVE], [MARRIED], [DEPARTMENT_ID], [ROLE_ID], [SEX_ID], [ADDRESS_ID]) VALUES (12, N'david', N'smith', CAST(12000.00 AS Decimal(18, 2)), NULL, NULL, 25, 0, NULL, CAST(3 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), NULL)
GO
INSERT [dbo].[EMPLOYEE] ([ID], [FIRST_NAME], [LAST_NAME], [SALARY], [EMPLOYED_SINCE], [WEIGHT], [AGE], [ACTIVE], [MARRIED], [DEPARTMENT_ID], [ROLE_ID], [SEX_ID], [ADDRESS_ID]) VALUES (20, N'Mark', N'Smith', CAST(99998.00 AS Decimal(18, 2)), NULL, NULL, 25, 0, NULL, CAST(3 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), NULL)
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[LOOKUP] ON 

GO
INSERT [dbo].[LOOKUP] ([ID], [PARENT_ID], [NAME]) VALUES (CAST(1 AS Numeric(18, 0)), NULL, N'DEPARTMENT')
GO
INSERT [dbo].[LOOKUP] ([ID], [PARENT_ID], [NAME]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'IT')
GO
INSERT [dbo].[LOOKUP] ([ID], [PARENT_ID], [NAME]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[LOOKUP] OFF
GO
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(1 AS Numeric(18, 0)), N'IT Infrastructure')
GO
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(2 AS Numeric(18, 0)), N'Kitchen Life')
GO
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(3 AS Numeric(18, 0)), N'Gardening')
GO
INSERT [dbo].[SYS_AUDIT] ([USER_ID], [TABLE_NAME], [RECORD_ID], [DESCRIPTION], [OPERATION], [TIMESTAMP]) VALUES (N'dmzhou1', N'Employee', N'12', N'Inserted FirstName=david, LastName=smith, Salary=10000, EmployedSince=, Active=True, Age=25, Weight=, Married=, Department.Id=3, Role.Id=0, Sex.Id=0, Id=12.', N'Insert', CAST(0x0000A3C9016B55C1 AS DateTime))
GO
INSERT [dbo].[SYS_AUDIT] ([USER_ID], [TABLE_NAME], [RECORD_ID], [DESCRIPTION], [OPERATION], [TIMESTAMP]) VALUES (N'dmzhou1', N'EMPLOYEE', N'12', N'Updated ACTIVE from [True] to [False].', N'Update', CAST(0x0000A3DE00D81835 AS DateTime))
GO
INSERT [dbo].[SYS_AUDIT] ([USER_ID], [TABLE_NAME], [RECORD_ID], [DESCRIPTION], [OPERATION], [TIMESTAMP]) VALUES (N'dmzhou1', N'EMPLOYEE', N'20', N'Updated ACTIVE from [True] to [False].', N'Update', CAST(0x0000A3E00171B576 AS DateTime))
GO
USE [master]
GO
