USE [master]
GO
/****** Object:  Database [EasylinkWalkThrough]    Script Date: 2015-01-18 10:31:52 PM ******/
CREATE DATABASE [EasylinkWalkThrough]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasylinkWalkThrough', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasylinkWalkThrough.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EasylinkWalkThrough_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EasylinkWalkThrough_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasylinkWalkThrough].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasylinkWalkThrough]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOUSE_NUMBER] [nvarchar](50) NOT NULL,
	[STREET] [nvarchar](50) NOT NULL,
	[POSTAL_CODE] [nvarchar](20) NOT NULL,
	[COUNTRY_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[LOGIN_ID] [nvarchar](20) NOT NULL,
	[ROLE_ID] [int] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_PROGRAM]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_PROGRAM](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[PROGRAM_ID] [numeric](18, 0) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_PROGRAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FINANCIAL_INFO]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_INFO](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [numeric](18, 0) NOT NULL,
	[BANK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FINANCIAL_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOOKUP]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOOKUP](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PARENT_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_LOOKUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROGRAM]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAM](
	[ID] [numeric](18, 0) NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_AUDIT]    Script Date: 2015-01-18 10:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_AUDIT](
	[USER_ID] [nvarchar](50) NOT NULL,
	[TABLE_NAME] [nvarchar](20) NOT NULL,
	[RECORD_ID] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[OPERATION] [nvarchar](20) NOT NULL,
	[TIMESTAMP] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LOOKUP] ON 

INSERT [dbo].[LOOKUP] ([ID], [NAME], [PARENT_ID]) VALUES (CAST(1 AS Numeric(18, 0)), N'ROLE', NULL)
INSERT [dbo].[LOOKUP] ([ID], [NAME], [PARENT_ID]) VALUES (CAST(2 AS Numeric(18, 0)), N'Employee', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[LOOKUP] ([ID], [NAME], [PARENT_ID]) VALUES (CAST(3 AS Numeric(18, 0)), N'Manager', CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[LOOKUP] OFF
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(1 AS Numeric(18, 0)), N'IT Infrastructure')
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(2 AS Numeric(18, 0)), N'Kitchen Life')
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (CAST(3 AS Numeric(18, 0)), N'Gardening')
USE [master]
GO
